.founder {
  position: relative;
  width: 100%;
  padding: 5rem 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    background: #d7c3ae;
    z-index: -1;

    @media (max-width: 1024px) {
      height: 300px;
    }
  }

  .wrapper {
    padding: 0 10rem;

    @media (max-width: 992px) {
      padding: 0 30px;
    }
  }

  .section__title {
    color: var(--white-color);
  }

  &__img {
    max-width: 100%;
    margin: auto;
    margin-top: 3rem;
    position: relative;

    .preview__img {
      img {
        width: 100%;
        height: auto;
      }
    }

    .img__overlay {
      position: absolute;
      bottom: 4rem;
      left: 4rem;

      .overlay__title {
        padding: 1rem 0;
        color: var(--white-color);
        font-size: 44px;
        font-weight: 400;
        font-family: Galaxie;
        letter-spacing: 0.5px;

        &:not(:last-child) {
          border-bottom: 1px solid rgba(225, 225, 225, 0.3);
        }

        a {
          color: inherit;
        }
      }
    }
  }
}
